# =========================
# FRONTEND (React/Vite)
# =========================

node_modules/
dist/
.vite/

# =========================
# ENV
# =========================

.env
*.env

# =========================
# PYTHON / DJANGO
# =========================

__pycache__/
*.py[cod]
*.sqlite3

venv/
.env/

# Django static/media build
staticfiles/

# =========================
# VSCODE
# =========================

.vscode/

# =========================
# MAC
# =========================

.DS_Store

# =========================
# LOGS
# =========================

*.log

# =========================
# CACHE
# =========================

.pytest_cache/
.mypy_cache/

# =========================
# SYSTEM
# =========================

Thumbs.db